<nav class="navbar navbar-default navbar-sticky bootsnav">

    <div class="container">      
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index.html"><img src="img/logo.png" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="index.html">Home</a></li> 
                    <li><a href="login.html">Login</a></li>
                    <li><a href="companies.html">Companies</a></li> 
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                        <ul class="dropdown-menu animated fadeOutUp" style="display: none; opacity: 1;">
                            <li class="active"><a href="browse-job.html">Browse Jobs</a></li>
                            <li><a href="company-detail.html">Job Detail</a></li>
                            <li><a href="resume.html">Resume Detail</a></li>
                        </ul>
                    </li>
                </ul>
        </div><!-- /.navbar-collapse -->
    </div>   
</nav>
<!-- Navigation End  -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="main-banner" style="background:#242c36 url(img/slider-01.jpg) no-repeat">
    <div class="container">
        <div class="caption">
            <h2>Build Your Career</h2>
            <form>
                <fieldset>
                    <div class="col-md-4 col-sm-4 no-pad">
                        <input type="text" class="form-control border-right" placeholder="Skills, Designation, Companies" />
                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        <select class="selectpicker border-right">
                          <option>Experience</option>
                          <option>0 Year</option>
                          <option>1 Year</option>
                          <option>2 Year</option>
                          <option>3 Year</option>
                          <option>4 Year</option>
                          <option>5 Year</option>
                          <option>6 Year</option>
                          <option>7 Year</option>
                          <option>8 Year</option>
                          <option>9 Year</option>
                         <option>10 Year</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-3 no-pad">
                        <select class="selectpicker">
                          <option>Select Category</option>
                          <option>Accounf & Finance</option>
                          <option>Information & Technology</option>
                          <option>Marketing</option>
                          <option>Food & Restaurent</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-2 no-pad">
                        <input type="submit" class="btn seub-btn" value="submit" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
