<section class="jobs">
    <div class="container">
        <div class="row heading">
            <h2>Find Popular Jobs</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
        <div class="companies">
            <div *ngFor="let job of jobs">
                <div class="company-list">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <div class="company-logo">
                                <img src="img/google.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="company-content">
                                <h3>{{job.job_name}}<span class="full-time">Full Time</span></h3>
                                <p><span class="company-name"><i class="fa fa-briefcase"></i>Google</span><span class="company-location"><i class="fa fa-map-marker"></i> {{job.address_work}} </span><span class="package"><i class="fa fa-money"></i>$22,000-$50,000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
               </div> 

            </div>
        <div class="row">
            <input type="button" class="btn brows-btn" value="Brows All Jobs" />
        </div>
    </div>
</section>